# Planejamento Fatorial de 2 fatores com 2 n√≠veis

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dados = pd.read_excel('exemplo.xlsx')
dados

   conc  temp  Fluidez
0  13.5   124     60.2
1  14.5   124     67.6
2  13.5   128     73.2
3  14.5   128     76.2

In [3]:
var1 = 'conc'
var2 = 'temp'

In [4]:
cmax = np.max(dados[var1])
cmax

14.5

In [5]:
cmin = np.min(dados[var1])
cmin

13.5

In [6]:
tmax = np.max(dados[var2])
tmin = np.min(dados[var2])
tmax

128

In [7]:
tmin

124

In [8]:
dados['c'] = [(dados[var1][i]-(cmax+cmin)/2)/((cmax-cmin)/2) for i in dados.index]

In [9]:
dados

   conc  temp  Fluidez    c
0  13.5   124     60.2 -1.0
1  14.5   124     67.6  1.0
2  13.5   128     73.2 -1.0
3  14.5   128     76.2  1.0

In [10]:
dados['T'] = [(dados[var2][i]-(tmax+tmin)/2)/((tmax-tmin)/2) for i in dados.index]

In [11]:
cols = list(dados.columns.values)
cols

['conc', 'temp', 'Fluidez', 'c', 'T']

In [12]:
dados = dados[['conc', 'temp', 'c', 'T','Fluidez']]

In [13]:
a = 'Fluidez'

In [14]:
EPC = np.mean([dados[a][3]-dados[a][2],dados[a][1]-dados[a][0]])
EPC

5.199999999999996

In [15]:
EPT = np.mean([dados[a][3]-dados[a][1],dados[a][2]-dados[a][0]])
EPT

10.800000000000004

In [16]:
EPCT = ((dados[a][3]-dados[a][2])-(dados[a][1]-dados[a][0]))/2
EPCT

-2.1999999999999957

In [17]:
EPCT = ((dados[a][3]-dados[a][1])-(dados[a][2]-dados[a][0]))/2
EPCT

-2.1999999999999957

In [18]:
np.mean(dados[a])

69.3

In [19]:
efeitos = pd.DataFrame({'conc':[EPC],'temp':[EPT],'int':[EPCT],'media':[np.mean(dados[a])]})

In [20]:
efeitos

   conc  temp  int  media
0   5.2  10.8 -2.2   69.3

In [21]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [22]:
dados

   conc  temp    c    T  Fluidez
0  13.5   124 -1.0 -1.0     60.2
1  14.5   124  1.0 -1.0     67.6
2  13.5   128 -1.0  1.0     73.2
3  14.5   128  1.0  1.0     76.2

In [23]:
funcao = 'Fluidez ~ c*T'

In [24]:
modelo = ols(funcao,dados).fit()

In [25]:
anova_tabela = sm.stats.anova_lm(modelo)
anova_tabela

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/stats/anova.py:140: RuntimeWarning: divide by zero encountered in double_scalars
  (model.ssr / model.df_resid))
/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:1892: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

           df        sum_sq  mean_sq    F  PR(>F)
c         1.0  2.704000e+01    27.04  0.0     NaN
T         1.0  1.166400e+02   116.64  0.0     NaN
c:T       1.0  4.840000e+00     4.84  0.0     NaN
Residual  0.0  8.077936e-28      inf  NaN     NaN

In [26]:
modelo.summary()

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/stats/stattools.py:71: ValueWarning: omni_normtest is not valid with less than 8 observations; 4 samples were given.
  "samples were given." % int(n), ValueWarning)
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/regression/linear_model.py:1648: RuntimeWarning: divide by zero encountered in true_divide
  return 1 - (np.divide(self.nobs - self.k_constant, self.df_resid)
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/regression/linear_model.py:1649: RuntimeWarning: invalid value encountered in double_scalars
  * (1 - self.rsquared))
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/regression/linear_model.py:1665: RuntimeWarning: divide by zero encountered in double_scalars
  return self.ssr/self.df_resid
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/regression/linear_model.py:1578: RuntimeWarning: divide by zero encountered in double_scalars
  return np.dot(wresid, wresid) / self.df_resid
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:1376: RuntimeWarning: invalid value encountered in multiply
  cov_p = self.normalized_cov_params * scale

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Fluidez   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                     0.000
Date:                Sun, 12 Apr 2020   Prob (F-statistic):                nan
Time:                        16:44:23   Log-Likelihood:                 121.86
No. Observations:                   4   AIC:                            -235.7
Df Residuals:                       0   BIC:                            -238.2
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     69.3000        inf          0        nan         nan         nan
c              2.6000        inf          0        nan         nan         nan
T              5.4000        inf          0        nan         nan         nan
c:T           -1.1000        inf         -0        nan         nan         nan
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   0.000
Prob(Omnibus):                    nan   Jarque-Bera (JB):                1.500
Skew:                           0.000   Prob(JB):                        0.472
Kurtosis:                       0.000   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [27]:
efeitos

   conc  temp  int  media
0   5.2  10.8 -2.2   69.3

In [28]:
funcao = 'Fluidez ~ conc*temp'

In [29]:
modelo2 = ols(funcao,dados).fit()

In [30]:
anova_tabela2 = sm.stats.anova_lm(modelo2)
anova_tabela2

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/stats/anova.py:140: RuntimeWarning: divide by zero encountered in double_scalars
  (model.ssr / model.df_resid))
/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:1892: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

            df        sum_sq  mean_sq    F  PR(>F)
conc       1.0  2.704000e+01    27.04  0.0     NaN
temp       1.0  1.166400e+02   116.64  0.0     NaN
conc:temp  1.0  4.840000e+00     4.84  0.0     NaN
Residual   0.0  3.708541e-21      inf  NaN     NaN

In [31]:
modelo2.summary()

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/stats/stattools.py:71: ValueWarning: omni_normtest is not valid with less than 8 observations; 4 samples were given.
  "samples were given." % int(n), ValueWarning)
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/regression/linear_model.py:1648: RuntimeWarning: divide by zero encountered in true_divide
  return 1 - (np.divide(self.nobs - self.k_constant, self.df_resid)
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/regression/linear_model.py:1649: RuntimeWarning: invalid value encountered in double_scalars
  * (1 - self.rsquared))
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/regression/linear_model.py:1665: RuntimeWarning: divide by zero encountered in double_scalars
  return self.ssr/self.df_resid
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/regression/linear_model.py:1578: RuntimeWarning: divide by zero encountered in double_scalars
  return np.dot(wresid, wresid) / self.df_resid

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Fluidez   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                     0.000
Date:                Sun, 12 Apr 2020   Prob (F-statistic):                nan
Time:                        16:44:23   Log-Likelihood:                 91.184
No. Observations:                   4   AIC:                            -174.4
Df Residuals:                       0   BIC:                            -176.8
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -2284.1000        inf         -0        nan         nan         nan
conc         143.8000        inf          0        nan         nan         nan
temp          18.1000        inf          0        nan         nan         nan
conc:temp     -1.1000        inf         -0        nan         nan         nan
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   0.004
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.629
Skew:                           0.025   Prob(JB):                        0.730
Kurtosis:                       1.057   Cond. No.                     3.13e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.13e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [32]:
dados

   conc  temp    c    T  Fluidez
0  13.5   124 -1.0 -1.0     60.2
1  14.5   124  1.0 -1.0     67.6
2  13.5   128 -1.0  1.0     73.2
3  14.5   128  1.0  1.0     76.2

In [34]:
dados = dados.append({'conc':13.5,'temp':124,'c':-1,'T':-1,'Fluidez':72.2},ignore_index = True)
dados = dados.append({'conc':14.5,'temp':124,'c':1,'T':-1,'Fluidez':74.2},ignore_index = True)
dados = dados.append({'conc':13.5,'temp':128,'c':-1,'T':1,'Fluidez':73.2},ignore_index = True)
dados = dados.append({'conc':14.5,'temp':128,'c':1,'T':1,'Fluidez':79.2},ignore_index = True)

In [35]:
dados

   conc   temp    c    T  Fluidez
0  13.5  124.0 -1.0 -1.0     60.2
1  14.5  124.0  1.0 -1.0     67.6
2  13.5  128.0 -1.0  1.0     73.2
3  14.5  128.0  1.0  1.0     76.2
4  13.5  124.0 -1.0 -1.0     72.2
5  14.5  124.0  1.0 -1.0     74.2
6  13.5  128.0 -1.0  1.0     73.2
7  14.5  128.0  1.0  1.0     79.2

In [36]:
funcao = 'Fluidez ~ conc*temp'

In [37]:
modelo3 = ols(funcao,dados).fit()

In [38]:
anova_tabela3 = sm.stats.anova_lm(modelo3)
anova_tabela3

            df  sum_sq  mean_sq         F    PR(>F)
conc       1.0   42.32    42.32  1.722426  0.259622
temp       1.0   95.22    95.22  3.875458  0.120360
conc:temp  1.0    0.02     0.02  0.000814  0.978606
Residual   4.0   98.28    24.57       NaN       NaN

In [39]:
modelo3.summary()

/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1450: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=8
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Fluidez   R-squared:                       0.583
Model:                            OLS   Adj. R-squared:                  0.271
Method:                 Least Squares   F-statistic:                     1.866
Date:                Sun, 12 Apr 2020   Prob (F-statistic):              0.276
Time:                        16:50:52   Log-Likelihood:                -21.385
No. Observations:                   8   AIC:                             50.77
Df Residuals:                       4   BIC:                             51.09
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   -297.9500   3093.767     -0.096      0.928   -8887.626    8291.726
conc          10.9000    220.843      0.049      0.963    -602.257     624.057
temp           2.4250     24.551      0.099      0.926     -65.738      70.588
conc:temp     -0.0500      1.752     -0.029      0.979      -4.916       4.816
==============================================================================
Omnibus:                        0.040   Durbin-Watson:                   0.988
Prob(Omnibus):                  0.980   Jarque-Bera (JB):                0.140
Skew:                          -0.000   Prob(JB):                        0.932
Kurtosis:                       2.352   Cond. No.                     3.13e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.13e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [43]:
dados

   conc   temp    c    T  Fluidez
0  13.5  124.0 -1.0 -1.0     60.2
1  14.5  124.0  1.0 -1.0     67.6
2  13.5  128.0 -1.0  1.0     73.2
3  14.5  128.0  1.0  1.0     76.2
4  13.5  124.0 -1.0 -1.0     72.2
5  14.5  124.0  1.0 -1.0     74.2
6  13.5  128.0 -1.0  1.0     73.2
7  14.5  128.0  1.0  1.0     79.2

In [44]:
funcao = 'Fluidez ~ c*T'

In [45]:
modelo4 = ols(funcao,dados).fit()

In [46]:
anova_tabela4 = sm.stats.anova_lm(modelo4)
anova_tabela4

           df  sum_sq  mean_sq         F    PR(>F)
c         1.0   42.32    42.32  1.722426  0.259622
T         1.0   95.22    95.22  3.875458  0.120360
c:T       1.0    0.02     0.02  0.000814  0.978606
Residual  4.0   98.28    24.57       NaN       NaN

In [51]:
modelo4.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Fluidez   R-squared:                       0.583
Model:                            OLS   Adj. R-squared:                  0.271
Method:                 Least Squares   F-statistic:                     1.866
Date:                Sun, 12 Apr 2020   Prob (F-statistic):              0.276
Time:                        17:25:07   Log-Likelihood:                -21.385
No. Observations:                   8   AIC:                             50.77
Df Residuals:                       4   BIC:                             51.09
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     72.0000      1.752     41.084      0.000      67.134      76.866
c              2.3000      1.752      1.312      0.260      -2.566       7.166
T              3.4500      1.752      1.969      0.120      -1.416       8.316
c:T           -0.0500      1.752     -0.029      0.979      -4.916       4.816
==============================================================================
Omnibus:                        0.040   Durbin-Watson:                   0.988
Prob(Omnibus):                  0.980   Jarque-Bera (JB):                0.140
Skew:                           0.000   Prob(JB):                        0.932
Kurtosis:                       2.352   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [52]:
modelo4.params.values

array([ 7.20e+01,  2.30e+00,  3.45e+00, -5.00e-02])